<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<context:component-scan base-package="com.fire.survey.component">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<context:property-placeholder location="classpath:db.properties" />
	<!--配置路由数据源  -->

	<bean id="commonDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="driverClass" value="${jdbc.driverClass}" />
	</bean>
	<bean id="logDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="jdbcUrl" value="${log.url}" />
		<property name="driverClass" value="${jdbc.driverClass}" />
	</bean>
	
	<bean id="dataSourceRouter" class="com.fire.survey.router.MyRoutingDataSource">
   <property name="targetDataSources">
     <map>
       <entry key="common" value-ref="commonDataSource"/>
       <entry key="log" value-ref="logDataSource"/>
     </map>
   </property>
   <property name="defaultTargetDataSource" ref="commonDataSource"/>
 </bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSourceRouter" />
		<property name="configLocations" value="classpath:hibernate.cfg.xml" />
		<property name="mappingLocations"
			value="classpath:com/fire/survey/entities/*/*.hbm.xml" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 配置监听器 -->
	<bean class="com.fire.survey.model.quarz.LogListener" />

	<!-- 配置石英任务的细节 -->
	<bean id="jobDetailBean"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.fire.survey.model.quarz.LogQuartzJobBean" />
		<property name="jobDataMap">
			<map>
				<entry key="sLogService" value-ref="SLogServiceImpl" />
			</map>
		</property>
	</bean>

	<!-- 配置石英任务触发器 -->
	<bean id="cronTriggerFactoryBean"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="jobDetailBean" />
		<property name="cronExpression" value="* * * * * ?"></property>
	</bean>
	<!-- 配置石英任务调度的工厂bean -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTriggerFactoryBean" />
			</list>
		</property>
	</bean>

	

	<bean id="recordLog" class="com.fire.survey.tinterceptors.RecordLog"></bean>

	<aop:config>
		<aop:pointcut
			expression="execution(* com.fire.survey.component.service.*.*Service.*(..)) and !bean(SLogServiceImpl)
			and !execution(* com.fire.survey.component.service.*.*Service.savePath(..)) "
			id="logPoint" />
		<aop:aspect ref="recordLog">
			<aop:around method="recordLog" pointcut-ref="logPoint" />
		</aop:aspect>
	</aop:config>

	<aop:config>
		<aop:pointcut
			expression="execution(* com.fire.survey.component.service.*.*Service.*(..)) and !bean(sLogServiceImpl)"
			id="txPoint" />
		<aop:advisor advice-ref="myAdvice" pointcut-ref="txPoint" />
	</aop:config>

	<tx:advice id="myAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="login" read-only="true" />
			<tx:method name="get*" read-only="true" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" propagation="REQUIRES_NEW"
				rollback-for="java.lang.Exception" />
		</tx:attributes>
	</tx:advice>

</beans>
